<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/shared/css/ress.min.css" rel="stylesheet">
</head>
<body>
  <h1>Hello World <%= title %></h1>
  
  <script src="/shared/js/three.min.js"></script>
  <script src="home.bundle.js"></script>
</body>
</html>