<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="/shared/css/ress.min.css" rel="stylesheet">
</head>
<body>
  <canvas id="camerafeed"></canvas>

  <script>
    window.tweets = JSON.parse('<%- tweets %>');
  </script>
  <script src="/shared/js/three.min.js"></script>
  <script src="//cdn.8thwall.com/web/xrextras/xrextras.js"></script>
  <script async src="//apps.8thwall.com/xrweb?appKey=<%= EIGHTH_WALL_APP_KEY %>"></script>
  <script src="home.bundle.js"></script>
</body>
</html>